* {
    outline: none;
    user-select: none;
    overflow: hidden;
}
body {
    background-color: black;
    color: lightgray;
    font-size: 40px;
}

#bgImg {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top: 0px;
}
img:not(#bgImg) {
    width: 50px;
    height: 50px;

    position: absolute;
    
    cursor: pointer;
    border-radius: 5px;
    background-color: lightgray;
}

body.hide > img:not(#bgImg) {
    border: 2px solid transparent !important;
}
img.sec0 {
    border: 2px solid darkviolet;
}
img.sec1 {
    border: 2px solid yellow;
}
img.sec2 {
    border: 2px solid orange;
}
img.sec3 {
    border: 2px solid red;
}
